img{
    width:130px;
    margin-top: 20vh;
    margin-left: 45vw;
}
h2{
    color:purple;
    font-size: 1.6em;
    font-family: cursive;
    margin-left: 39vw;
}
h3{
    color:blue;
    font-size: 1.4em;
    font-family: cursive;
    margin-left: 36vw;
}