<!DOCTYPE <html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../static/images/Restaurant-logo.png" width="125px" height="80px">
                </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Order</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about">
        <p>
            <h1 class="dash"><i>About Our Restaurant</i></h1>
        </p>
    </div>

    <!---About the type of food present in the restaurant-->
    <div class="small-container">
        <div class="row">
            <div class="col">
                <img src="../static/images/modern.png" width="280px" height="180px">
                <br><br>
                <p class="font_1">Modern Design</p>
                <p class="font_2">The restaurant introduces a modern, contemporary feel that works as a stylish buzzing eatery for customers,also ensures home-like hospitality with a human touch. a memorable meal.</p>
            </div>
            <div class="col">
                <img src="../static/images/fresh_vegetables.png" width="280px" height="180px">
                <br><br>
                <p class="font_1">Fresh Vegetables</p>
                <p class="font_2"> We believe in using the freshest vegetables and ingredients that brings out good results. Thus tireless in staying abreast of the latest food trends.
                </p>
            </div>
            <div class="col">
                <img src="../static/images/menu.png" width="280px" height="180px">
                <br><br>
                <p class="font_1"> Internationals Menu</p>
                <p class="font_2">The dining restaurant,which have an eclectic mix of Indian, Asian and Continental food Obsessed with creating customized menus and culinary masterpiece for our clients.
                </p>
            </div>

        </div>
    </div>

    </div>
































</body>

</html>