<!DOCTYPE <html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container nav1">
          <div class="logo">
            <img src="../static/images/logo2.png">
            </div>
          <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="#">ORDER</a></li>
          <li><a href="about.html" class="current">ABOUT US</a></li>
         </ul>
         </div>
         </header>
    <div class="about">
        <p>
            <h1 class="dash"><i>About Our Restaurant</i></h1>
        </p>
        <div class="line"></div>
    </div>

    <!---About the type of food present in the restaurant-->
    <div class="small-container">
        <div class="row">
            <div class="col">
                <img src="../static/images/modern.png" width="280px" height="180px">
                <br><br>
                <p class="font_1">Modern Design</p>
                <p class="font_2">The restaurant introduces a modern, contemporary feel that works as a stylish buzzing eatery for customers,also ensures home-like hospitality with a human touch. a memorable meal.</p>
            </div>
            <div class="col">
                <img src="../static/images/fresh_vegetables.png" width="280px" height="180px">
                <br><br>
                <p class="font_1">Fresh Vegetables</p>
                <p class="font_2"> We believe in using the freshest vegetables and ingredients that brings out good results. Thus tireless in staying abreast of the latest food trends.
                </p>
            </div>
            <div class="col">
                <img src="../static/images/menu.png" width="280px" height="180px">
                <br><br>
                <p class="font_1"> Internationals Menu</p>
                <p class="font_2">The dining restaurant,which have an eclectic mix of Indian, Asian and Continental food Obsessed with creating customized menus and culinary masterpiece for our clients.
                </p>
            </div>

        </div>
    </div>

    </div>
    <footer class="main-footer">
        <section>
          <div class="section">
            <h2>Contact Us</h2>
            <div class="footer-headline">Tell us a little about yourself, and we'll be in touch right away  </div>
  
        <div class="footer-form">
         <form action="/action_page.php">
          <table>
            <tr>
         <td><label for="Name">Name:</label></td>
           <td><input type="text" placeholder="Your Name..." required /></td>
           </tr>
           <tr>
             <td><label for="Email">Email:</label></td>
           <td><input type="email" placeholder="Your Email..." required /></td>
           </tr>
           <tr>
           <td><label for="Contact">Contact No:</label></td>
           <td><input type="number" placeholder="Your Contact No..." required/></td>
           </tr>
           <tr>
           <td><label for="Comment">Comments: </label></td>
           <td><textarea name="message" placeholder="Your Comments " rows="2" required></textarea></td>
            </tr>
          </table>
          </form>
           </div>
        </div>
        </section>
        </div>
      </footer>
      <div class="sub-footer">
        <a href="#"><img src="../static/images/insta.jpg" /></a>
        <a href="#"><img src="../static/images/facebook.png" /></a>
      </div>
    </body>
</html>
































</body>

</html>