<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <header>
    <div class="container">
      <div class="logo">
        <img src="../static/images/logo2.png">
        </div>
      <ul>
      <li><a href="index.html" class="current">HOME</a></li>
      <li><a href="#">ORDER</a></li>
      <li><a href="#">ABOUT US</a></li>
     </ul>
     </div>
     </header>
     <div class="showcase">
       <img src="../static/images/background.jpg" class="image" >
      <div class="overlay"></div>

       <div class="centered">
     <h1>Hot & Crusty</h1>
   <p>The pleasure of finding the difference.</p>
    </div>

</div>

  <div class="row">
    <div class="col-3">
      <img src="../static/images/3.jpeg" style="width:100%" />
      <h2 align="center">Mixed Vegetable Frankie</h2>
    </div>
    <div class="col-3">
      <img src="../static/images/4.jpg"style="width:100%" />
       <h2 align="center">Chocolate Truffle Cake</h2>
    </div>
    <div class="col-3">
      <img src="../static/images/1.jpg" style="width:100%"/>
      <h2 align="center">Tomato Pizza</h2>
    </div>
  </div>

<footer class="main-footer">
      <section>
        <div class="section">
          <h2>Contact Us</h2>
          <div class="footer-headline">Tell us a little about yourself, and we'll be in touch right away  </div>

      <div class="footer-form">
       <form action="/action_page.php">
        <table>
          <tr>
       <td><label for="Name">Name:</label></td>
         <td><input type="text" placeholder="Your Name..." required /></td>
         </tr>
         <tr>
           <td><label for="Email">Email:</label></td>
         <td><input type="email" placeholder="Your Email..." required /></td>
         </tr>
         <tr>
         <td><label for="Contact">Contact No:</label></td>
         <td><input type="number" placeholder="Your Contact No..." required/></td>
         </tr>
         <tr>
         <td><label for="Comment">Comments: </label></td>
         <td><textarea name="message" placeholder="Your Comments " rows="2" style="width:500px";align:"center" required></textarea></td>
          </tr>
        </table>
        </form>
         </div>
      </div>
      </section>
      </div>
    </footer>
    <div class="sub-footer">
      <a href="#"><img src="../static/images/insta.jpg" /></a>
      <a href="#"><img src="../static/images/facebook.png" /></a>
    </div>
  </body>
</html>
